body{
    background-color: #24A19C;
    margin: 0% 5%;
}
h1{
    font-family: 'PT Serif', serif;
    margin-top: 0px;
    color: white;
    text-shadow: 6px 0px #FFC0D3;
    font-size: 150px;
}
.button{
    border-radius: 12px;
    border-color: #FFC0D3;
    width: 100px;
    height: 100px;
    border-width: 5px;
    font-size: 60px;
    font-family: 'Noto Sans', sans-serif;
    margin: auto 12px auto 12px;
    color:  #FFC0D3;
    text-shadow: 4px 0px red;
}
.imgdiv{
    text-align: center;
}
.images{
    border-radius: 17px;
    margin: auto 12px auto 12px;
    height: 100px;
    width: 100px;
    margin-bottom: 5%;
}
.btns{
    text-align: center;
    margin-top: 12%;
}
.footer{
    text-align: center;
    margin-top: 12%;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
.Z{
    background-image: url("crash.png");
    background-size: 93px 85px;
}
.X{
    background-image: url("kick.png");
    background-size: 90px 90px;
}
.C{
    background-image: url("snare.png");
    background-size: 90px 90px;
}
.V{
    background-image: url("tom1.png");
    background-size: 90px 90px;
}
.B{
    background-image: url("tom2.png");
    background-size: 90px 90px;
}
.N{
    background-image: url("tom3.png");
    background-size: 90px 90px;
}
.M{
    background-image: url("tom4.png");
    background-size: 90px 90px;
}
